<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <!-- <h1>Salutations, <%= @user.name %></h1>
    <p>I am robot-LRRY, but feel free to address me as LRRY.</p><br>
    <p>It has come to my attention that you have forgotten your password. Fear not, robot-LRRY will assist you.</p>
    <p>robot-LRRY urges you to follow <a href=<%="http://www.unlockgate.today/reset_password?reset_password_token=" + @user.reset_password_token + "&user_id=" + @user.external_id %>>this link</a> to reset your password.</p>
    <p>robot-LRRY will be waiting on the other side to give further instructions.</p>
    <p>Best,
       robot-LRRY</p> -->
      
      <h3>Hi <%= @user.name %>,</h3>
      <p>Did you forget your password? Follow <a href=<%="http://www.unlockgate.today/reset_password?reset_password_token=" + @user.reset_password_token + "&user_id=" + @user.external_id %>>this link</a> to reset it.</p>
  </body>
</html>