<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h3>Hi <%= @user.name %>,</h3>
      <p>Sorry for the hassle, but we didn't implement this yet! Nudge David at dilizarov@gmail.com and he'll get you rolling. Also, tell him to hurry up with this feature :).</p>
  </body>
</html>