<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h3>Hi <%= @user.name %>,</h3>
      <p>Did you forget your password? Follow <a href=<%="http://www.unlockgate.today/reset_password?token=" + @user.reset_password_token %>>this link</a> to reset it.</p>
  </body>
</html>